{% if app.request.headers.get('referer') == absolute_url(path('app_cart_show')) or app.request.headers.get('referer') == absolute_url(path('security_login')) %}
    {% set referer = path('app_shop_index') %}
{% else %}
    {% set referer = app.request.headers.get('referer') %}
{% endif %}
{% extends "layout.html.twig" %}
{% block title %}{{ 'Votre panier'|gTrans }}{% endblock %}
{% block meta_title %}{{ 'Votre panier'|gTrans }}{% endblock %}
{% block head %}
    {{ encore_entry_script_tags('app_cart_index') }}
{% endblock %}
{% block content %}
    <div class="container mb-50">
        {% if isOrdering %}
            <div class="row pb5">
                <p class="alert alert-bt-info col-12">{{ 'Vous avez déjà une commande en cours, voulez-vous la finaliser ou l\'annuler?'|gTrans }}</p>
                <div class="col-12 d-flex justify-content-around flex-wrap">
                    <a href="{{ path('app_order_index') }}" class="btn bt-btn--primary">{{ 'Voir et finaliser ma commande en cours'|gTrans }}</a>
                    <a href="{{ path('app_order_remove') }}" class="btn bt-btn--secondary">{{ 'Annuler ma commande en cours'|gTrans }}</a>
                </div>
            </div>
        {% elseif app.session.get('cart')|length > 0 %}
            <div class="row">
                <div class="col-12">
                    <table class="cart-content m-0">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="pl-3">{{ 'Vos articles'|gTrans }}</th>
                            <th scope="col" class="text-right">{{ 'Prix'|gTrans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in app.session.get('cart') %}
                            {% if onSales %}
                                {% set price = item.discountPrice %}
                            {% else %}
                                {% set price = item.price %}
                            {% endif %}
                            <tr class="cart-content__item">
                                <td class="cart-content__item__remove">
                                    <a class="text-dark" href="{{ path('app_cart_remove', {'id': item.id, 'quantity': item.quantity}) }}" title="{{ 'Retirer cet article de votre panier.'|gTrans }}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                                <td class="cart-content__item__description d-flex align-items-center">
                                    <a class="text-dark" href="{{ path('app_shop_item', {'customer': item.category.customers, 'category_slug': item.category.slug, 'slug': item.slug}) }}" target="_blank" title="{{ 'Cliquez pour visualiser dans un nouvel onglet.'|gTrans }}">
                                        <img src="{{ item.images|first.webPath|imagine_filter('small') }}" alt="{{ item.images|first.alt }}" />
                                    </a>
                                    <div>{{ item.name|gTrans }}</div>
                                </td>
                                <td class="cart-content__item__price">
                                    {% if item.discount and onSales %}
                                        <div class="cart-content__item__price--crossed-out">{{ (item.price * item.quantity)|number_format(2, ',') }} €</div>
                                        {{ (item.discountPrice * item.quantity)|number_format(2, ',') }} €
                                    {% else %}
                                        {{ (item.price * item.quantity)|number_format(2, ',') }}€
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if not onSales and gift.valid %}
                            <tr class="cart-content__item">
                                <td class="cart-content__item__remove"><a class="text-dark" href="{{ path('app_cart_removegift') }}" title="{{ 'Retirer cette carte cadeau.'|gTrans }}"><i class="fas fa-trash-alt"></i></a></td>
                                <td class="cart-content__item__description d-flex align-items-center">
                                <span>
                                    <img src="{{ asset('img/resources/image-not-found.png')|imagine_filter('small') }}" alt="{{ 'Carte cadeau Belatika'|gTrans }}" />
                                </span>
                                    {{ 'Carte cadeau Belatika'|gTrans }}
                                </td>
                                <td class="cart-content__item__price">-{{ gift.value|number_format(2, ',') }}€</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="mt-30 d-flex">
                        <div class="w-50">
                            <a href="{{ referer }}" class="btn btn-block btn-outline-secondary"><i class="fas fa-arrow-left"></i> {{ 'Continuer mes achats'|gTrans }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mt-70 giftcode-area">
                        <div class="cart-page-heading">
                            <h5>{{ 'Utiliser une carte cadeau'|gTrans }}</h5>
                            <p>{{ "Si vous possédez une carte cadeau, entrez son code"|gTrans }}</p>
                        </div>
                        {% if not onSales and not gift.valid %}
                            <form class="d-flex justify-content-between align-items-center" method="post" action="{{ path('app_cart_show') }}">
                                <label for="giftCode" class="sr-only">{{ 'Code de votre carte cadeau'|gTrans }}</label>
                                <input type='text' name='giftCode' id='giftCode' value='{{ gift.code }}' maxlength='9' size='9' required/>
                                <button type='submit'>{{ 'Appliquer'|gTrans }}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mt-70">
                        <div class="cart-page-heading">
                            <h5>{{ 'Méthode de livraison'|gTrans }}</h5>
                        </div>
                        <div class="cart-shipping">
                            <div class="d-flex">
                                <div class="w-25">
                                    <img src="{{ asset('img/resources/Logo-laposte.png') }}" alt="Logo La Poste">
                                </div>
                                <div class="w-50">
                                    <b>{{ "COURRIER SUIVI"|gTrans }}</b>
                                    <p>{{ "Estimation du délai de livraison à compter de l'expédition de la commande:"|gTrans }}</p>
                                </div>
                                <div class="w-25 text-right"><strong>{{ "Gratuit"|gTrans }}</strong></div>
                            </div>
                            <b>{{ ("entre J+3 et J+10 soit entre le " ~ lowerExpeDelay.format('d/m/Y') ~ " et le " ~ higherExpeDelay.format('d/m/Y'))|gTrans }}</b>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="mt-70">
                        <div class="cart-page-heading">
                            <h5>{{ 'Total du panier'|gTrans }}</h5>
                            <p>{{ 'T.V.A. non applicable art. 293 B du CGI'|gTrans }}</p>
                        </div>
                        <ul class="cart-total-chart">
                            <li><span>{{ "Sous-total"|gTrans }}</span> <span>{{ total|number_format(2, ',') }}€</span></li>
                            <li><span>{{ "Livraison"|gTrans }}</span> <span>{{ "Gratuit"|gTrans }}</span></li>
                            <li><span><strong>{{ "Total"|gTrans }}</strong></span> <span><strong>{{ total|number_format(2, ',') }}€</strong></span></li>
                        </ul>
                        <a href="{{ path('app_cart_delivering') }}" class="btn btn-block bt-btn--primary">{{ "Choisir mon adresse de livraison"|gTrans }} <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row pb-5">
                <p class='alert alert-bt-info col-12' >{{ 'Votre panier est vide.'|gTrans }}</p>
                <a href="{{ referer }}" class="btn bt-btn--primary">{{ 'Continuer mes achats'|gTrans }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
