{% extends "layout.html.twig" %}
{% block title %}{{ 'resetting.request.title'|trans }}{% endblock %}
{% block meta_title %}{{ 'resetting.request.title'|trans }}{% endblock %}
{% block content %}
    <div class="container my-3">
        <div class="row">
            <h2 class="col-12">{{ 'resetting.request.instruction.title'|trans }}</h2>
            <div class="col-12 alert alert-bt-info">
                {{ 'resetting.request.instruction.content'|trans }}
            </div>
            <form action="{{ path('security_password_request') }}" method="POST" class="col-12 fos_user_resetting_request pb-4">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label" for="email">{{ 'resetting.request.email'|trans }}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="email" id="email" name="email" required="required" />
                    </div>
                    <div class="col-sm-6 mt-3 mt-sm-0">
                        <button type="submit" class="btn btn-outline-dark float-right" >{{ 'resetting.request.submit'|trans }}</button>
                    </div>
                </div>
            </form>

            {% if invalid_email is defined %}
                <p class="alert alert-warning col-12">{{ 'resetting.request.invalid_email'|trans({'%email%': invalid_email}) }}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
